@charset "UTF-8";
/* リキッドレイアウト対応 */

body {
  font-family: "Gothic A1", sans-serif;
}

@media only screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: all;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  word-wrap: break-word;
}

.header {
  position: fixed;
  z-index: 100;
  top: 40px;
  top: 2.5rem;
  right: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  width: 100%;
  max-width: 1262px;
  max-width: 78.875rem;
  margin: 0 auto;
  padding: 0 25px;
}

.header__nav {
  line-height: 1.2;
  padding: 24px 80px;
  padding: 1.5rem 5rem;
  border-radius: 62.5rem;
  -webkit-box-shadow: 0px 0.25rem 0.9375rem 0px rgba(37, 123, 6, .27);
          box-shadow: 0px 0.25rem 0.9375rem 0px rgba(37, 123, 6, .27);
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(5px);
  backdrop-filter: blur(0.3125rem);
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header__nav {
    gap: 2rem;
    padding: 1rem 2.5rem;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
  gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header__list {
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__link {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Zen Old Mincho", serif;
  color: #293707;
  line-height: 1.2;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .header__link {
    font-size: 1rem;
  }
}

.inner {
  width: 100%;
  max-width: 1970px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 1960px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.mv {
  overflow: hidden;
  aspect-ratio: 1920/1340;
  position: relative;
  background-image: url("../images/common/mv-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.mv__dec {
  position: absolute;
  top: 0;
  left: -20px;
  left: -1.25rem;
  width: calc(100% + 1.25rem);
  z-index: 1;
  pointer-events: none;
}

.mv__dec * {
  pointer-events: auto;
}

.mv__imgs {
  margin-top: -96px;
  margin-top: -6rem;
  width: 1000px;
  width: 62.5rem;
  height: 1000px;
  height: 62.5rem;
  margin-inline: auto;
  position: relative;
  z-index: 2;
}

.mv__main-img img {
  border-radius: 50%;
}

.mv__title {
  position: absolute;
  left: 50%;
  top: 270px;
  top: 16.875rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  aspect-ratio: 1;
  width: 240px;
  width: 15rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: #6d8e1b;
  padding: 30px 14px;
  padding: 1.875rem 0.875rem;
}

.mv__title-yuge {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, .7) 0%, transparent 100%);
  z-index: 1;
}

.mv__title-yuge:nth-of-type(1) {
  top: -60px;
  top: -3.75rem;
  left: 20%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: blur(0.3125rem);
          filter: blur(0.3125rem);
  width: 60px;
  width: 3.75rem;
}

.mv__title-yuge:nth-of-type(2) {
  top: -35px;
  top: -2.1875rem;
  left: 15%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="8" /></filter></svg>#filter');
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  width: 30px;
  width: 1.875rem;
}

.mv__title-yuge:nth-of-type(3) {
  top: -24px;
  top: -1.5rem;
  left: 20%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-filter: blur(0.625rem);
          filter: blur(0.625rem);
  width: 40px;
  width: 2.5rem;
}

.mv__title-yuge:nth-of-type(4) {
  top: -10px;
  top: -0.625rem;
  left: 35%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: blur(0.3125rem);
          filter: blur(0.3125rem);
  width: 60px;
  width: 3.75rem;
}

.mv__title-yuge:nth-of-type(5) {
  top: 5px;
  top: 0.3125rem;
  left: 50%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: blur(0.3125rem);
          filter: blur(0.3125rem);
  width: 60px;
  width: 3.75rem;
}

.mv__title-yuge:nth-of-type(6) {
  top: 20px;
  top: 1.25rem;
  left: 65%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-filter: blur(0.625rem);
          filter: blur(0.625rem);
  width: 80px;
  width: 5rem;
}

.mv__title-yuge:nth-of-type(7) {
  top: 30px;
  top: 1.875rem;
  left: 50%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: blur(0.3125rem);
          filter: blur(0.3125rem);
  width: 60px;
  width: 3.75rem;
}

.mv__title-yuge:nth-of-type(8) {
  top: 50px;
  top: 3.125rem;
  left: 50%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: blur(0.3125rem);
          filter: blur(0.3125rem);
  width: 60px;
  width: 3.75rem;
}

.mv__title-yuge:nth-of-type(9) {
  top: 70px;
  top: 4.375rem;
  left: 30%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-filter: blur(0.625rem);
          filter: blur(0.625rem);
  width: 100px;
  width: 6.25rem;
}

.mv__title-icon {
  width: 130px;
  width: 8.125rem;
  aspect-ratio: 130/113;
  margin-inline: auto;
}

.mv__title-icon img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.mv__title-text {
  text-align: center;
  margin-top: -5px;
  margin-top: -0.3125rem;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
  font-family: "Darumadrop One", cursive;
  color: #fff;
  line-height: 1.4;
}

.mv__text {
  position: absolute;
  top: 220px;
  top: 13.75rem;
  left: 50%;
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
  aspect-ratio: 913/458;
  width: 913px;
  width: 57.0625rem;
}

.mv__text img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.mv__slider-wrap {
  position: absolute;
  bottom: 400px;
  bottom: 25rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

.mv__slider {
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  gap: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mv__slider:first-child {
  border-top: 1px solid #fff;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-50% - 0.625rem));
            transform: translateX(calc(-50% - 0.625rem));
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-50% - 0.625rem));
            transform: translateX(calc(-50% - 0.625rem));
  }
}
.mv__slider--top {
  -webkit-animation: slideLeft 30s linear infinite;
          animation: slideLeft 30s linear infinite;
}

.mv__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  gap: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mv__slider-text {
  font-family: "Shippori Mincho", serif;
  font-size: 81px;
  font-size: 5.0625rem;
  line-height: 1.5;
  color: #fff;
  white-space: nowrap;
  font-weight: 400;
}

.mv__slider-img {
  border-radius: 6.25rem;
  aspect-ratio: 150/80;
  overflow: hidden;
  width: 150px;
  width: 9.375rem;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(calc(-50% - 0.625rem));
            transform: translateX(calc(-50% - 0.625rem));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(calc(-50% - 0.625rem));
            transform: translateX(calc(-50% - 0.625rem));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.mv__slider--bottom {
  -webkit-animation: slideRight 30s linear infinite;
          animation: slideRight 30s linear infinite;
}

/* はじめましてセクション */
.intro {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 100px 0;
  padding: 6.25rem 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(13.625rem, #f3f2e9));
  background: linear-gradient(to bottom, transparent 0 13.625rem, #f3f2e9 13.625rem 100%);
  z-index: 5;
  min-height: 1200px;
  min-height: 75rem;
  padding: 64px 0;
  padding: 4rem 0;
  margin-top: -300px;
  margin-top: -18.75rem;
}
.intro::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% + 10.5rem);
  height: 535px;
  height: 33.4375rem;
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
          clip-path: ellipse(50% 50% at 50% 50%);
  background-color: #f3f2e9;
}

.intro__inner {
  max-width: 1200px;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 25px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.intro__title {
  font-family: "Darumadrop One", cursive;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.5;
  color: #6d8e1b;
  margin: 0 0 40px 0;
  margin: 0 0 2.5rem 0;
  font-weight: 400;
}

.intro__text {
  font-family: "Gothic A1", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.1;
  color: #282828;
}
.intro__text p {
  margin: 0;
  white-space: pre-wrap;
}

.onigiri {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.onigiri--1 {
  -webkit-transform: translate(-23.125rem, 6.875rem);
          transform: translate(-23.125rem, 6.875rem);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.onigiri--2 {
  -webkit-transform: translate(-40rem, -2.5rem);
          transform: translate(-40rem, -2.5rem);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.onigiri--3 {
  -webkit-transform: translate(-10.625rem, -33.125rem);
          transform: translate(-10.625rem, -33.125rem);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.onigiri--4 {
  -webkit-transform: translate(36.25rem, 2.5rem);
          transform: translate(36.25rem, 2.5rem);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.onigiri--5 {
  -webkit-transform: translate(21.875rem, 1.875rem);
          transform: translate(21.875rem, 1.875rem);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.onigiri--6 {
  -webkit-transform: translate(41.875rem, -30rem);
          transform: translate(41.875rem, -30rem);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}
/*# sourceMappingURL=styles.css.map */
