@use 'global' as *;

// mv

.mv {
  overflow: hidden;
  aspect-ratio: 1920/1340;
  position: relative;
  background-image: url('../images/common/mv-bg.jpg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.mv__dec {
  position: absolute;
  top: 0;
  left: rem(-20);
  width: calc(100% + rem(20));
  z-index: 1;
  pointer-events: none;
}

.mv__dec * {
  pointer-events: auto;
}

.mv__imgs {
  margin-top: rem(-96);
  width: rem(1000);
  height: rem(1000);
  margin-inline: auto;
  position: relative;
  z-index: 2;
}

.mv__main-img {
}

.mv__main-img img {
  border-radius: 50%;
}

.mv__text {
}

.mv__title {
  position: absolute;
  left: 50%;
  top: rem(270);
  transform: translateX(-50%);
  aspect-ratio: 1;
  width: rem(240);
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--green);
  padding: rem(30) rem(14);
}

.mv__title-icon {
  width: rem(130);
  aspect-ratio: 130/113;
  margin-inline: auto;
}

.mv__title-icon img {
  object-fit: contain;
  object-position: center;
}

.mv__title-text {
  text-align: center;
  margin-top: rem(-5);
  font-size: rem(36);
  font-weight: var(--regular);
  font-family: var(--darumadrop-one);
  color: var(--white);
  line-height: 1.4;
}

.mv__text {
  position: absolute;
  top: rem(220);
  left: 50%;
  transform: translateX(-51%);
  aspect-ratio: 913/458;
  width: rem(913);
}

.mv__text img {
  object-fit: contain;
  object-position: center;
}

.mv__slider-wrap {
  position: absolute;
  bottom: rem(400);
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

.mv__slider {
  border-bottom: 1px solid var(--white);
  display: flex;
  gap: rem(20);
  width: fit-content;
}

.mv__slider:first-child {
  border-top: 1px solid var(--white);
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - rem(10)));
  }
}

.mv__slider--top {
  animation: slideLeft 30s linear infinite;
}

.mv__slider-item {
  display: flex;
  align-items: center;
  gap: rem(20);
  width: fit-content;
}

.mv__slider-text {
  font-family: var(--second-font-family);
  font-size: rem(81);
  line-height: 1.5;
  color: var(--white);
  white-space: nowrap;
  font-weight: var(--regular);
}

.mv__slider-img {
  border-radius: rem(100);
  aspect-ratio: 150/80;
  overflow: hidden;
  width: rem(150);
}

@keyframes slideRight {
  0% {
    transform: translateX(calc(-50% - rem(10)));
  }
  100% {
    transform: translateX(0);
  }
}

.mv__slider--bottom {
  animation: slideRight 30s linear infinite;
}

/* はじめましてセクション */
.intro {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 100%;
  padding: rem(100) 0;
  background: linear-gradient(to bottom, transparent 0 rem(218), #f3f2e9 rem(218) 100%);
  z-index: 5;
  min-height: rem(1200);
  padding: rem(64) 0;
  margin-top: rem(-300);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + rem(168));
    height: rem(535);
    clip-path: ellipse(50% 50% at 50% 50%);
    background-color: #f3f2e9;
  }
}

.intro__inner {
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 var(--padding-pc);
  text-align: center;
  position: relative;
  z-index: 2;
}

.intro__title {
  font-family: var(--darumadrop-one);
  font-size: rem(48);
  line-height: 1.5;
  color: #6d8e1b;
  margin: 0 0 rem(40) 0;
  font-weight: var(--regular);
}

.intro__text {
  font-family: var(--base-font-family);
  font-size: rem(24);
  line-height: 2.1;
  color: #282828;

  p {
    margin: 0;
    white-space: pre-wrap;
  }
}

