@use 'global' as *;

/* はじめましてセクション */
.intro {
  position: relative;
  width: 100%;
  padding: rem(100) 0;
  background-color: #f3f2e9;
  z-index: 5;
  min-height: rem(1200);
}

.intro__inner {
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 var(--padding-pc);
  text-align: center;
}

.intro__title {
  font-family: var(--darumadrop-one);
  font-size: rem(48);
  line-height: 1.5;
  color: #6d8e1b;
  margin: 0 0 rem(40) 0;
  font-weight: var(--regular);
}

.intro__text {
  font-family: var(--base-font-family);
  font-size: rem(24);
  line-height: 2.1;
  color: #282828;

  p {
    margin: 0;
    white-space: pre-wrap;
  }
}
