@use 'global' as *;

// 最初の湯気

.mv__title-yuge {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, transparent 100%);
  z-index: 1;
}

.mv__title-yuge:nth-of-type(1) {
  top: rem(-60);
  left: 20%;
  filter: blur(rem(5));
  width: rem(60);
}
.mv__title-yuge:nth-of-type(2) {
  top: rem(-35);
  left: 15%;
  filter: blur(rem(8));
  width: rem(30);
}
.mv__title-yuge:nth-of-type(3) {
  top: rem(-24);
  left: 20%;
  filter: blur(rem(10));
  width: rem(40);
}
.mv__title-yuge:nth-of-type(4) {
  top: rem(-10);
  left: 35%;
  filter: blur(rem(5));
  width: rem(60);
}
.mv__title-yuge:nth-of-type(5) {
  top: rem(5);
  left: 50%;
  filter: blur(rem(5));
  width: rem(60);
}
.mv__title-yuge:nth-of-type(6) {
  top: rem(20);
  left: 65%;
  filter: blur(rem(10));
  width: rem(80);
}
.mv__title-yuge:nth-of-type(7) {
  top: rem(30);
  left: 50%;
  filter: blur(rem(5));
  width: rem(60);
}
.mv__title-yuge:nth-of-type(8) {
  top: rem(50);
  left: 50%;
  filter: blur(rem(5));
  width: rem(60);
}
.mv__title-yuge:nth-of-type(9) {
  top: rem(70);
  left: 30%;
  filter: blur(rem(10));
  width: rem(100);
}

// MV背景になっているおにぎり

.onigiri {
  transform-origin: center;
  transform-box: fill-box;
}

.onigiri--1 {
  transform: translate(rem(-370), rem(110));
  transform-origin: center;
  transform-box: fill-box;
}
.onigiri--2 {
  transform: translate(rem(-640), rem(-40));
  transform-origin: center;
  transform-box: fill-box;
}
.onigiri--3 {
  transform: translate(rem(-170), rem(-530));
  transform-origin: center;
  transform-box: fill-box;
}
.onigiri--4 {
  transform: translate(rem(580), rem(40));
  transform-origin: center;
  transform-box: fill-box;
}
.onigiri--5 {
  transform: translate(rem(350), rem(30));
  transform-origin: center;
  transform-box: fill-box;
}
.onigiri--6 {
  transform: translate(rem(670), rem(-480));
  transform-origin: center;
  transform-box: fill-box;
}
