@use 'global' as *;

.header {
  position: fixed;
  z-index: 100;
  top: rem(40);
  right: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  width: 100%;
  max-width: rem(1262);
  margin: 0 auto;
  padding: 0 var(--padding-pc);
}

.header__nav {
  line-height: 1.2;
  padding: rem(24) rem(80);
  border-radius: rem(1000);
  box-shadow: 0px rem(4) rem(15) 0px rgba(37, 123, 6, 0.27);
  background: rgba($color: #fff, $alpha: 0.8);
  backdrop-filter: blur(rem(5));
  width: 100%;
  @include mq {
    gap: rem(32);
    padding: rem(16) rem(40);
  }
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(64);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  @include mq {
    gap: rem(32);
    flex-wrap: wrap;
  }
}

.header__item {
  flex-shrink: 0;
}

.header__link {
  display: block;
  font-size: rem(18);
  font-weight: var(--regular);
  font-family: 'Zen Old Mincho', serif;
  color: #293707;
  line-height: 1.2;
  text-decoration: none;
  white-space: nowrap;
  @include mq {
    font-size: rem(16);
  }
}
