@use "global" as *;

.inner {
  width: 100%;
  max-width: $inner + strip-unit($padding-pc) * 2;
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  @include mq {
    max-width: $inner + strip-unit($padding-sp) * 2;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}
